@model List<Jewelly.Models.MyPurchase>

@{
    ViewBag.Title = "PendingAction";
}

@if (Session["userID"] == null)
{
    <h1>Please Login !!!</h1>
}
else if (Session["userID"] != null)
{
<div class="container edit__dis">
    <div class="container deco_land">
        <div>
            <img src="~/Content/Image/Layout/Yash.png" class="png_deco"/>
        </div>
        <div class="title_order">
            <p><i class="fas fa-truck"></i> This is @ViewBag.Status ordered </p>
        </div>
    </div>
    <div class="contain__order">
        @foreach (var item in Model)
        {
            
                <div class="form_include">

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="infor_basic">
                                   <img src="@item.Path/@item.Image" width="100px" class="edit_img" />
                                    <p class="edit_distance">@item.Name</p>

                                </div> <p class="distance_quantity">Total quantity: x @item.quantity</p>
                            </div>
                            <div class="col-md-6">
                                <p class="edit_right  space_price">UnitPrice:  @item.Price $</p>
                            </div>

                        </div>
                    </div>
                    <hr />
                    <div class="container">
                        <div class="row">
                          <div class="col-md-4">
                              <p class="thanks_order">Thank for order products !! ! :333</p>
                          </div>
                            <div class="col-md-5 edit_mobile_pen">
                                <div style="display: flex;float: left" class="edit_right">
                                    <a class="btn btn-primary edit__btn_pur edit_tablet_btn">Evaluate</a>
                                    <a href="/Account/ViewOrderdetails?qa=@item.ID" style="" class="btn btn-primary btn_chitiet">Details</a>
                                    <a class="btn btn-primary edit__btn_pur">Evaluate</a>

                                </div>
                            </div>
                            <div class="col-md-3">
                                <p class="edit_right edit_agian_mobile">Total: @item.le $</p>
                            </div>

                        </div>
                    </div>
                </div>
            <hr />
        }
    </div>
</div>
}

