@model  List<Jewelly.Models.CartList>
@{
    ViewBag.Title = "CartList";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div id="toast">
    @if (ViewBag.EditMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkEditGold());
            })</script>
        <input type="hidden" class="success" value="@ViewBag.EditMg" />
    }
    else if (ViewBag.ErrorEditMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkEditGoldError());
            })</script>
        <input type="hidden" class="success" value="@ViewBag.ErrorEditMg" />
    }
</div>
<div class="container-fluid">
    <div class="_contains">
        <div class="contain_insearch">
            <form action="/Admin/CardList/CartList" method="post">
                <input class="search_form" type="text" placeholder="Order Code" name="oc">
                <button class="btn btn-dark sun_n" type="submit"><i class="fa-solid fa-magnifying-glass "></i></button>
            </form>
        </div>
        <hr style="background-color: #fff" />
        <div class="row_car">
            <p class="title_form">List Order</p>
            @foreach (var item in Model)
            {
                <div class=" row list_form">
                    <div class="col-sm-3 _ec">
                        <img src="@item.UserRegMst.Path_photo@item.UserRegMst.photo" class="img_cus" />

                    </div>
                    <div class="col-sm-3 _ec txt_line_">
                        <p class="esit_space">
                            @item.OrderCode
                        </p>
                        @if (item.Status == "Pending")
                        {
                            <p style="color: blue">
                                <i class="fa-solid fa-circle"></i>@item.Status
                            </p>
                        }
                        else if (item.Status == "Accept")
                        {
                            <p style="color: green">
                                <i class="fa-solid fa-check"></i>@item.Status
                            </p>
                        }
                        else if (item.Status == "Cancel")
                        {
                            <p style="color: red">
                                <i class="fa-solid fa-xmark"></i>@item.Status
                            </p>
                        }
                        else if (item.Status == "Delivering")
                        {
                            <p style="color: #ED9121">
                                <i class="fa-solid fa-truck"></i>@item.Status
                            </p>
                        }
                        else if (item.Status == "Complete")
                        {
                            <p style="color: gray">
                                <i class="fa-solid fa-clipboard-check"></i>@item.Status
                            </p>
                        }
                        <p class="mt-3">
                            <i class="fa-solid fa-gem"></i>@item.Product_Name
                        </p>
                        <p>
                            <i class="fa-solid fa-dollar-sign"></i>@item.MRP
                        </p>
                        <p>
                            <i class="fa-regular fa-credit-card"></i>@item.Payment.type
                        </p>

                        <p>
                            <i class="fa-solid fa-calendar-days"></i>@item.OrderDate
                        </p>
                        <p>
                            <i class="fa-solid fa-user-secret"></i>@item.ShipName
                        </p>

                    </div>
                    <div class="col-sm-3 _ec txt_line_">
                        <p>
                            <i class="fa-solid fa-location-dot"></i>@item.ShipAddress
                        </p>

                        <p>
                            <i class="fa-solid fa-phone"></i>Phone
                        </p>
                        <p>
                            <i class="fa-solid fa-comment"></i>Note
                        </p>
                        <p>
                            <i class="fa-solid fa-city"></i>@item.ShipCity
                        </p>
                        <p>
                            <i class="fa-solid fa-barcode"></i>@item.ShipCode
                        </p>
                        <p>
                            <i class="fa-solid fa-globe"></i>@item.ShipCountry
                        </p>
                        <p>
                            <i class="fa-solid fa-person-military-pointing"></i>@item.UserRegMst.userFname @item.UserRegMst.userLname
                        </p>
                    </div>
                    <div class="col-sm-3 _ec text_Edit">
                        <a href="/Admin/CardList/Edit/@item.ID" class=" btn_form_list">
                            <i class="fa-solid fa-pen" style="color: #ffffff;"></i>
                            Edit
                        </a>
                    </div>

                </div>

                <hr />
            }
        </div>
    </div>

</div>

<script src="~/Areas/Admin/Content/Script/Message.js"></script>

<script>
    setTimeout(function () {
        $('#msgAlert').fadeOut('slow');
        $('#msgsAlert').fadeOut('slow');
    }, 2000);
    console.log()
</script>
