@model List<Jewelly.Models.CertifyMst>
@{
    ViewBag.Title = "Certify";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}

<div id="toast">
    @if (ViewBag.AddCertifyMg != null)
    {
        <script>
    $(document).ready(function () {
                $("toast").load(checkAddAdmin());
            })</script>
        <input type="hidden" class="success" value="@ViewBag.AddCertifyMg" />
    }
    else if (ViewBag.AddCertifyErrorMg != null)
    {
        <script>
    $(document).ready(function () {
                $("toast").load(checkErrorAdd());
            })</script>
        <input type="hidden" class="fail" value="@ViewBag.AddCertifyErrorMg" />
    }
    else if (ViewBag.EditCertifyMg != null)
    {
        <script>
    $(document).ready(function () {
                $("toast").load(checkEditGold());
            })</script>
        <input type="hidden" class="fail" value="@ViewBag.EditCertifyMg" />
    }
    else if (ViewBag.EditCertifyErrorMg != null)
    {
        <script>
    $(document).ready(function () {
                $("toast").load(checkEditGoldError());
            })</script>
        <input type="hidden" class="fail" value="@ViewBag.EditCertifyErrorMg" />
    }
    else if (ViewBag.DeleteCertify != null)
    {
        <script>
    $(document).ready(function () {
                $("toast").load(checkDeleteStone());
            })</script>
        <input type="hidden" class="success" value="@ViewBag.DeleteCertify" />
    }
</div>
<h2 class="title--admin">Certify</h2>
<hr class="mx-5" />
<div class="search--group">
    <a href="/Admin/CertifyAdmin/Add" class="btn btn-primary btn--add"><i class="fa fa-plus"></i> Certify</a>
    <form action="/Admin/CertifyAdmin/Certify" method="post">
        <input type="text" placeholder="Username" name="search" class="form-control btn--search btn--search--brand" />
        <input type="submit" class="btn btn-primary btn--submit--admin btn--submit--brand" value="Search" />
    </form>
</div>
<hr class="mx-5" />
<div class="container container--left">
    <div class="row">
        <div class="col-md-12">
            <table class="table _gold">
                <tr>
                    <th class="text--table">Certify Id</th>
                    <th class="text--table">List Certify </th>
                    <th class="text--table" style="text-align: center">Edit</th>
                    <th class="text--table" style="text-align: center">Delete</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text--table">@item.Certify_ID</td>
                        <td class="text--table">@item.Certify_Type</td>
                        <td><a class="btn form-control edit--admin text-center btn--td--gold btn--brand" href="/Admin/CertifyAdmin/Edit/@item.Certify_ID">Edit</a></td>
                        <td><a class="btn form-control edit--admin text-center btn--td--gold delete--admin btn--brand" href="/Admin/CertifyAdmin/Delete/@item.Certify_ID">Delete</a></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<script src="~/Areas/Admin/Content/Script/messageAdmin.js"></script>



