@model Jewelly.Models.Orderdetailedit
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPageAdmin.cshtml";
}
<div class="container _containss">
    <h1 class="tex_edit">Order Record</h1>
    <hr />
    <div class="row _ed_c">

        <div class="col-md-6">
            <div class="contain_1">
                <div class="inf_">
                    <img src="~/Content/Image/Layout/1200px-Circle-icons-clipboard.svg.png" class="img_edit_cus" />
                    <div class="text_order">
                        <h3>Product Name</h3>
                        <p>@Model.OrderDetail.ItemMst.ProdMst.Prod_Type</p>
                    </div>
                </div>


                <div class="payment_method">
                    <p>
                        <h2>
                            <i class="fa-solid fa-credit-card"></i>Type Of Product
                        </h2>

                    </p>
                    <p>
                        <i class="fa-solid fa-circle"></i> Type: @Model.OrderDetail.ItemMst.CatMst.Cat_Name
                    </p>
                    <p>
                        <i class="fa-solid fa-circle"></i> Brand: @Model.OrderDetail.ItemMst.BrandMst.Brand_Type
                    </p>

                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="contain_2">
                <div class="text_or">
                    <h2><i class="fa-solid fa-circle-info"></i>Order Information</h2>
                    <p><i class="fa-solid fa-barcode"></i>Order ID: @Model.OrderDetail.Orderdetails_ID</p>
             
                    <p><i class="fa-solid fa-location-dot"></i>Address:@Model.OrderDetail.CartList.ShipAddress</p>
                    <p><i class="fa-solid fa-city"></i>City:@Model.OrderDetail.CartList.ShipCity</p>
                    <p><i class="fa-solid fa-globe"></i>Country: @Model.OrderDetail.CartList.ShipCountry</p>
                    <p><i class="fa-solid fa-barcode"></i>Ship Code: @Model.OrderDetail.CartList.ShipCode</p>
      
                    <p><i class="fa-solid fa-dollar-sign"></i>Price Total: @Model.OrderDetail.ItemMst.MRP$</p>
                    <p><i class="fa-solid fa-envelope"></i>Email: @Model.OrderDetail.CartList.Email_ID</p>
                    <p><i class="fa-solid fa-envelope"></i>Email: @Model.OrderDetail.CartList.Phone</p>








                </div>
            </div>
        </div>
    </div>
    </div>
 
