@model dynamic
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div id="toast">
    @if (ViewBag.DeleteMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkDelete());
            })
        </script>
        <input type="hidden" class="success" value="@ViewBag.DeleteMg" />
    }
    else if (ViewBag.ErrorMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkError());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.ErrorMg" />
    }
    else if (ViewBag.OrderMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkOrder());
            })
        </script>
        <input type="hidden" class="success" value="@ViewBag.OrderMg" />
    }
    else if (ViewBag.ErrorOrderMg != null)
    {
        <script>
            $(document).ready(function () {
                $("toast").load(checkErrorOrder());
            })
        </script>
        <input type="hidden" class="fail" value="@ViewBag.ErrorOrderMg" />
    }
</div>

<div class="container mgin--top">
    <div class="row">
        <div class="col-md-12">
            <a class="slide-home" href="@Url.Action("Index","Home")">Home </a><span>/</span><b class="slide-local"> Shopping Cart</b>
        </div>
    </div>
    @if (Session["username"] != null && Model.Details != null)
    {
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="title--cart">Shopping Cart </p><span>(@Html.Action("BagCartTotal", "Product") product)</span>
                </div>
            </div>
            <form action="/Product/CheckOut" method="post">
                <div class="row">
                    <div class="col-md-9">
                        <table class="table">
                            <tr>
                                <td>Product Name</td>
                                <td class="text--align--rr">Price</td>
                                <td class="text--align--cc">Qly</td>
                                <td class="text--align--rr">Total</td>
                            </tr>
                            @foreach (var item in Model.Details)
                            {
                                <tr>
                                    <td><img class="img--cart" src="@item.ImgPath/@item.Img" /><span class="product--cart">@item.Product_name</span><a href="/Product/Delete/@item.ID" class="icon--remove"><i class="fas fa-times"></i> Delete</a></td>
                                    <td><p class="price--cart mt-5">@item.Price$</p></td>
                                    <td><p class="qly--cart mt-5">@item.Quantity</p></td>
                                    <td><p class="price--cart mt-5">@item.Total$</p></td>
                                </tr>
                            }
                        </table>

                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-6">
                                <p class="titletemp--order"><b>Provisional:</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="money--order">@Model.Money$</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="titletemp--order"><b>Total:</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="money--order">@Model.Money$</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn--dark--model btn--pay--order">Pay Now</button>
                            </div>
                            <div class="col-md-12 mt-2">
                                <a href="@Url.Action("Jewelry","Product")" class="btn--continue--order">Continue shopping</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
    }
    else
    {
        <div class="container">
            <div class="row mt-4">
                <div class="col-md-12">
                    <p class="title--cart">Shopping Cart </p><span>(0 product)</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <img src="~/Content/Image/Layout/empty.jpg" />
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="titletemp--order"><b>Provisional:</b></p>
                        </div>
                        <div class="col-md-6">
                            <p class="money--order">$</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="titletemp--order"><b>Total:</b></p>
                        </div>
                        <div class="col-md-6">
                            <p class="money--order">$</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn--dark--model btn--pay--order">Pay Now</button>
                        </div>
                        <div class="col-md-12 mt-2">
                            <a href="@Url.Action("Jewelry","Product")" class="btn--continue--order">Continue shopping</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Content/Script/message.js"></script>

